#tutorialScreen {
    background-color: #52FF00;

    .contents h4 {
        font-family: "Bungee", sans-serif;
        margin-bottom: 0;
    }

    hr {
        border: 0.75px solid #1F2933;
        width: 80%;
    }
}
